# Environment mode - set to 'production' on servers
FLASK_ENV=development

# Database settings
# For SQLite (development)
# For PostgreSQL (production)
DATABASE_URL=postgresql://username:password@localhost:5433/database_name

# API Keys
STABILITY_KEY=your_stability_api_key_here

# Twitter API credentials
TWITTER_API_KEY=your_twitter_api_key_here
TWITTER_API_SECRET=your_twitter_api_secret_here
TWITTER_ACCESS_TOKEN=your_twitter_access_token_here
TWITTER_ACCESS_TOKEN_SECRET=your_twitter_access_token_secret_here
BASE_URL=http://domain.net

# xAI API Key
XAI_API_KEY=your_xai_api_key_here
# Grok API Key
GROK_API_KEY=your_grok_api_key_here
